In [1]:
import pandas as pd

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rtatman/english-word-frequency")

print("Path to dataset files:", path)
path = path + "\\unigram_freq.csv"

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.6)
Path to dataset files: C:\Users\jehad\.cache\kagglehub\datasets\rtatman\english-word-frequency\versions\1

In [3]:
data = pd.read_csv(path)
data.sort_values(by="count", ascending=False, inplace=True)
print(path)
# print(data.info())
# data.describe()
(data["count"]/2.313585e+10).head()

C:\Users\jehad\.cache\kagglehub\datasets\rtatman\english-word-frequency\versions\1\unigram_freq.csv

0    1.000000
1    0.568466
2    0.561796
3    0.524596
4    0.392515
Name: count, dtype: float64

In [4]:
df = pd.read_csv('en.txt', sep='  ')
df.head()

C:\Users\jehad\AppData\Local\Temp\ipykernel_22240\3058154450.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('en.txt', sep='  ')

         bad_word
0            2g1c
1  acrotomophilia
2            anal
3       anilingus
4            anus

In [5]:
bad_words = df['bad_word'].tolist()
data = data[~data['word'].isin(bad_words)]

In [6]:
n_level_words = []
for level in range(1, 21):
    part_from = 16666 * (level - 1)
    part_to = 16666 * level
    words = data[part_from:part_to]
    n_level_words.append(words)
# n_level_words[20].shape
len(n_level_words)

20

In [7]:
n_level_letters_words = []
for level in range(20):
    n_letter_words = []
    for letters in range(3, 15):
        words = n_level_words[level][n_level_words[level]["word"].str.len() == letters]
        n_letter_words.append(words)
    n_level_letters_words.append(n_letter_words)

In [8]:
n_level_letters_words[0][0].head()
# len(n_level_letters_words[0][1])

   word        count
0   the  23135851162
2   and  12997637966
6   for   5933321709
14  you   2996181025
16  not   2633487141

In [9]:
len(n_level_letters_words[19])

12

In [10]:
import math

def pickLevelWordList(level):
    lev = math.floor(level / 12)
    num_of_letters = level % 12
    return n_level_letters_words[lev][num_of_letters]
    # half_length = len(n_letter_words[num_of_letters-2]) // 2  # Calculate half length
    # word = n_letter_words[num_of_letters-2][:half_length] if does_first_half else n_letter_words[num_of_letters-2][half_length:]
    return words

In [11]:
final_data = {}

for i in range(20):
    level_data = {}
    for j in range(12):
        level_data[j] = pickLevelWordList(i)['word'].tolist()
    final_data[i] = level_data

In [12]:
import json
json.dump(final_data, open("words.json", "w"))

In [13]:
def most_common_letter(words):
    set = {}
    print(len(words))
    for word in words['word']:
        for letter in word:
            if letter in set:
                set[letter] += 1
            else:
                set[letter] = 1
    return set

In [25]:
set = most_common_letter(pickLevelWordList(1))
sorted_items = sorted(set.items(), key=lambda item: item[1],reverse=True)
print(sorted_items)
# for key in set:
#     print(key, set[key])

1695
[('e', 690), ('a', 650), ('s', 520), ('o', 514), ('i', 409), ('l', 404), ('t', 388), ('n', 386), ('r', 371), ('d', 272), ('p', 246), ('c', 241), ('m', 240), ('u', 211), ('h', 192), ('b', 176), ('g', 159), ('k', 148), ('f', 141), ('w', 112), ('y', 106), ('v', 84), ('j', 44), ('x', 37), ('z', 29), ('q', 10)]

In [32]:
# pick random 5-letter
import numpy as np
# letters = ['a', 'e', 'i', 'o', 'u']
# l = ['s','c','t','p','d']
letters = ['e', 'a','s','i ']
# for i in range(5):
#     letters.append(chr(np.random.randint(97, 123)))
# print(letters)
numpydata = pickLevelWordList(1)['word'].to_numpy()
# for word in numpydata:
    # print(word)
for word in numpydata:
    # print([l in word for l in letters])
    arr = [l in letters for l in word]
    if all(arr):
        print(word)

asia
ease
ieee
sees
seas
isis

In [27]:
numpydata = pickLevelWordList(2)['word'].to_numpy()
# for word in numpydata:
    # print(word)
for word in numpydata:
    # print([l in word for l in letters])
    arr = [l in letters for l in word]
    if all(arr):
        print(word)

asses